# Build directory of Kotlin and Rust
target

# Idea config directory
.idea

# VSCode config directory
.vscode

# Build directories of C#.
bin
obj

# Python virtual environments
env/

# Swift build files
Package.resolved
.build